{% extends 'navigation.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'aboutus/css/aboutus.css' %}">
<link rel="stylesheet" href="{% static 'aboutus/css/font/css/all.css' %}">

<!-- Content -->
<div class="content center">
   
    <!-- info -->
    <div class="info">
        <div class="flyer">
            <img src="{% static 'aboutus/img/flyer.png' %}" alt="">
        </div>
         <!-- title -->
        <div class="title">
            <!-- <h2>联系</h2> -->
            <h2>Contact Us</h2>
        </div>
        <div class="box">
            <!-- first list -->
            <!-- <ul class="info">
                <li class="img">
                    <i class="fas fa-map-marker-alt"></i>
                </li>
                <li class="title">
                    <h4>Address</h4>
                </li>
                <li class="detail">
                    <p>Alhambra High School</p>
                    <p>C build C326 room</p>
                </li>
            </ul> -->
            <!-- second list -->
            <ul class="info">
                <li class="img">
                    <i class="fab fa-facebook"></i>
                </li>
                <li class="title">
                    <h4>Social Media</h4>
                </li>
                <li class="detail">
                    <p>WeChat: y15638205412</p>
                    <!-- <p>Facebook: unpublish</p> -->
                    <p>Instgram: apnoteable</p>
                </li>
            </ul>
            <!-- third list -->
            <ul class="info">
                <li class="img">
                    <i class="fas fa-mail-bulk"></i>
                </li>
                <li class="title">
                    <h4>Email</h4>
                </li>
                <li class="detail">
                    <a href="mailto:noteable2022@gmail.com">Email: noteable2022@gmail.com</a>
                </li>
            </ul>
        </div>
       
    </div>

</div>

{% endblock content %}