{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="
    Ap Noteable,ap noteable, apnoteable, ApNoteable. APNoteable, ap study, ap review, ap psychology study,
    ap test, ap review website, ap study website, ap practice test, ap encourage, ap复习网站, ap练习题">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Home/css/navigation.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Home/img/logo.ico'%}">
    
    <title>AP Noteable</title>
</head>
<body>
    
    <div class="wrapper">
        <div class="logo">
            <a href="{% url 'home_index' %}">
                <img src="{% static 'Home/img/logo.png'%}" alt="noteable_logo">
            </a>
        </div>  
         <!-- 手机端 -->
        <button class="menu-btn" id="menu-btn">☰</button>
        <ul class="nav">
            <li><a href="{% url 'aboutus' %}">About Us</a></li>
            <li><a href="{% url 'course' %}">AP Course</a></li>
            <li><a href="/">Find Your AP</a></li>
            <li><a href="{% url 'exam'%}">Practice Test</a></li>
            <!-- <li><a href="/">Resource</a></li> -->
            <li><a href="{% url 'encourage' %}">Encourage</a></li>
        </ul>
    </div>
    

    {% block content %}
    {% endblock %}

    <!-- footer -->
    <div class="footer">
        <ul class="contant">
            <li><a href="mailto:noteable2022@gmail.com">noteable2022@gmail.com</a></li>
            <li><a href="/">Wechat: y15638205412 </a></li>
            <li><a>Create By: Hongchen Yang  | Copy Right © 2022-2024</a></li>
        </ul>
    </div>

</body>
<script src="{% static 'Home/js/home.js'%}"></script>
</html>