{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Home/css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'Home/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'course/css/course.css' %}">
    <link rel="stylesheet" href="{% static 'course/css/chapter.css'%}">
    <link rel="shortcut icon" href="{% static 'Home/img/logo.ico'%}">
    <link rel="stylesheet" href="{% static 'course/css/notes.css'%}">
    <title>AP Noteable</title>
</head>
<body>
    {% block nav %}
    <div class="wrapper">
        <div class="logo">
            <a href="{% url 'home_index' %}">
                <img src="{% static 'Home/img/logo.png'%}" alt="noteable_logo">
            </a>
        </div>  
        <ul class="nav">
            <li><a href="/">About Us</a></li>
            <li><a href="{% url 'course' %}">AP Course</a></li>
            <li><a href="/">Resource</a></li>
        </ul>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

</body>
<!-- script -->
<script src="{% static 'Home/js/index.js' %}"></script>
</html>