{% extends 'navigation.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'exam/css/index.css'%}">


<div class="subject_list center">
    <h2 class="title">Parctice Test</h2>
    <ul>
        <li><a href="{% url 'psychology_test' %}">Psychology</a></li>
        <li><a href="{% url 'macro_economic_test' %}">Macroeconomics</a></li>
        <li><a href="{% url 'world_history_test' %}">World History</a></li>
        <li><a href="{% url 'physics_A_test' %}">Physcis A</a></li>
    </ul>
</div>


{% endblock %}
