{% extends 'navigation.html' %}
{% load static %}


{% block content %}

<!-- 科目 -->
<div class="center">
    <h2>AP World Hisotry</h2>
</div>


<!-- 遍历数据库提取所有内容 -->
{% for world_history in world_history_test%}
<div class="center">
    
    <!-- 题目 -->
    <div>
        <p>{{ forloop.counter}}.{{ world_history.title }}</p>
    </div>

    <!-- 选项 -->
    <ul>
        <li>
            <input type="radio" name="{{ world_history.id }}">
            <label>
                <p style="display:inline">A.{{ world_history.optionA }}</p>
            </label>
        </li>
        <li>
            <input type="radio" name="{{ world_history.id }}">
            <label>
                <p style="display:inline">B.{{ world_history.optionB }}</p>
            </label>
        </li>
        <li>
            <input type="radio" name="{{ world_history.id }}">
            <label>
                <p style="display:inline">C.{{ world_history.optionC }}</p>
            </label>
        </li>
        <li>
            <input type="radio" name="{{ world_history.id }}">
            <label>
                <p style="display:inline">D.{{ world_history.optionD }}</p>
            </label>
        </li>
        <li>
            <input type="radio" name="{{ world_history.id }}">
            <label>
                <p style="display:inline">E.{{ world_history.optionE }}</p>
            </label>
        </li>
        <!-- 答案 -->
        <li>
            <p id="{{ world_history.id }}" hidden>
                {{ world_history.answer }}
            </p>
            <input type="button" onclick=showp("{{ world_history.id }}") value="Answer")/>
        </li> 
    </ul>
</div>

{% endfor %}
                    
<script>
    /* 隐藏显示函数 */
    function showp(id){
        if (document.getElementById(id).style.display == 'inline') {
            document.getElementById(id).style.display = 'none';
        }
        else {
            document.getElementById(id).style.display='inline';
        }
 
    }
</script>

{% endblock %}